.jumbotron {
  text-align: center;
  font-weight: bolder;
  color: rgb(197, 42, 21);

}

.info img{
  width:100px;
  height:150px;
}

.info_text{
  border: 5px solid rgb(197, 42, 21);
  padding: 10px;
  display:inline-block;
  margin:0 0 0 20px;
}
span {
  float: right;
}

.thumbnail:hover {
  position:relative;
  top:-25px;
  left:-35px;
  width:500px;
  height:auto;
  display:block;
  z-index:999;
}

body {
background-color: rgb(250, 220, 184);
}

head {
  background-color: aqua;
}
